* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'jost', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Banner */
section {
    padding: 5% 10%;
}

/* Produtos */
.Produto1 {
    display: flex; 
    width: 100%; 
}
.Produto2 {
    display: flex; 
    width: 100%;
}
.Produto3 {
    display: flex;  
    width: 100%; 
}
.Linha {
    position: relative;
    width: 30%;
    margin-left: 40px;
}

.Linha img {
    width: 70%;
    height: auto;
}

.Feedback {
    color: black;
}

.CoracaoIcon {
    color: black;
    position: absolute;
    right: 0;
    font-size: 20px;
}

.CoracaoIcon:hover {
    color: #ee1c47
}

.Feedback i {
    font-size: 15px;
}

.Preco h4 {
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}

.Preco p {
    color: black;
    font-size: 14px;
    font-weight: bold;
}